html {
}


body {
  font-family: arial;
  color: #111111;
  margin: 0px;
  background-color: #71808D;
}

li, ul {
  list-style-type: none;
  
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

ul {
  padding: 10px;
}


input[type=text] {
  width: 97%;
  margin: 0px auto 0px auto;
}

textarea {
  width: 97%;
  margin: 0px auto 0px auto;
  resize:vertical;
}

#page {
  height: 100vh;
	background-color: pink;
	display: grid;
	grid-template-areas:
		'header header header header header'
		'leftcol leftdragbar tabs tabs tabs'
		'leftcol leftdragbar tabpages rightdragbar rightcol'
		'leftcol leftdragbar footer footer footer';
	grid-template-rows: min-content 1fr 9fr 1fr;
	grid-template-columns: 2fr 2px 6fr 2px 2fr;	
}

/*****************************/
#header {
	background-color: #F56A00;
	overflow: auto;
  padding: 5px;
	grid-area: header;
  border-bottom: 1px solid #71808D;
}

#leftcol {
	background-color: #D2D9DE;
	overflow: auto;
	grid-area: leftcol;
  min-width: 300px;
}

#leftdragbar {
	grid-area: leftdragbar;
	cursor: ew-resize;
  background-color: #71808D;
}


#tabs {
	background-color: #D2D9DE;
	overflow: auto;
	grid-area: tabs;
  border-bottom: 1px solid #71808D;
}

#tabpages {
	background-color: #71808D;
	grid-area: tabpages;
}

#rightdragbar {
	background-color: #71808D;
	grid-area: rightdragbar;
	cursor: ew-resize;
}


#rightcol {
	background-color: #D2D9DE;
	overflow: auto;
	grid-area: rightcol;
}

#footer {
	background-color: #D2D9DE;
  border-top: 1px solid #71808d;
	overflow: auto;
	grid-area: footer;
}

.popup {
  position: absolute;
  order: 5;
  background-color: #D2D9DE;
  right: 45%;
  top: 45%;
}
