<!DOCTYPE html>
<html>
  <head>
    <link id="theme" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script>
      function toggleTheme() {
        // Select the <link> element with id 'theme'
        var theme = document.getElementById('theme');
    
        // Check the current href value to determine the new theme
        if (theme.getAttribute('href') == "{{ url_for('static', filename='style.css') }}") {
          // Change to style2.css when switching to dark mode
          theme.setAttribute('href', "{{ url_for('static', filename='style2.css') }}");
        } else {
          // Change back to style.css when switching to gray mode
          theme.setAttribute('href', "{{ url_for('static', filename='style.css') }}");
        }
      }
    </script>
  </head>

<body onresize="ResetColumnSizes()">
    		<div id="page" onmouseup="EndDrag()" onmousemove="OnDrag(event)">
			<div id="header">
				Web Hacker's Application Map
			</div>
			<div id="leftcol">
        <ul>
          <li><span style="font-size: 30px;">Settings</span></li>
          <hr>
          <!-- slider to switch to dark mode CSS -->
          <span class="switch-title">Switch Theme</span>
          <label class="switch">
            <input type="checkbox" onclick="toggleTheme()">
            <span class="slider round"></span>
          </label>
          <hr> 
          <details id="Target_Details">
          <summary><span>Target</span></summary>
          <hr>
          <div id="target_menu">
          <li><input type="radio" id="URL_Radio" onclick="radio_switch()" checked="checked" name="targetSelector"><b>URL:</b><input type=text id="URL" placeholder="https://google.com"></li>      
          <li><input type="radio" id="Request_Radio" onclick="radio_switch()" name="targetSelector"><b>Request:</b></li>
          <li><textarea rows="10" cols="30" id="Request" disabled="true" placeholder='GET / HTTP/2&#10;Host: www.google.com&#10;Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8&#10;AcceptLanguage: en-US,en;q=0.5&#10;Accept-Encoding: gzip, deflate, br&#10;Upgrade-Insecure-Requests: 1&#10;Sec-Fetch-Dest: document&#10;Sec-Fetch-Mode: navigate&#10;Sec-Fetch-Site: none&#10;Sec-Fetch-User: ?1&#10;Priority: u=1&#10;Te: trailers'></textarea></li>
          </div>
          </details>
          <hr>
          <details id="User_Roles_Details">
            <summary><span>User Roles</span><input type="checkbox" class="menu_toggle" id="custom_user_roles_checkbox" onclick="custom_user_roles_toggle()"></summary>
            <hr>
          <li>
            <div id="user_table">
            <table id="auth_table">
              <tr>
                <th>User</th>
                <th>Session Header</th>
              </tr>
              <tr>
                <td><input type="text" disabled class="role_input"></td>
                <td><input type="text" disabled class="role_input"></td>
                <td><button disabled style="visibility:hidden;" class="delete_role_button" tabindex="-1">X</button></td>
              </tr>
            </table>
            <div id="add_user_button_container">
              <button disabled id="add_user_button" onclick="addme()">Add User</button>
            <div>
          </div>
          </li>
          </details>
          <hr>
          <details id="Scope_Details">
            <summary>Scope<input type="checkbox" id="scope_toggle" class="menu_toggle" onclick="custom_scope_toggle()"></summary>
            <hr>
            <div id="scope_menu">
              <input disabled type=text id="Scope">
            </div>
            </details>
          <hr>

          <details id="Proxy_Details">
            <summary><span>Proxy</span><input type=checkbox id="ProxyCheckBox" class="menu_toggle" onclick="proxy_toggle()"></summary>
          <hr>
          <div id="proxy_menu">
            <li><div style="width:40%; float: left;"><input type=text placeholder="http://127.0.0.1" disabled="true" size="14" id="ProxyHost"></div><div style="float:left;margin-left: 5px;">:</div><div style="width:30%; float:left;"><input type=text size="6" placeholder="8080" id="ProxyPort" disabled="true"></div></li>
            <li><span style="font-size: 16px;">Certificate:<input type=text Name="Certificate" id="Cert" disabled="true"></li>
          </div>
          </details>
          <hr>
          <details id="Behavior_Details">
            <summary><span>Behavior</span></summary>
            <hr>
          <div id="behavior_menu">
            <li><input type=checkbox id="DelayCheckBox" onclick="delay_toggle()"><b>Delay:</b><input type=textbox size="10" id="DelayMS" disabled="true">seconds</li>
            <li><b>Depth:</b><input type=textbox size="10" id="Depth" value="3"></li>
            <li><b>Thread count:</b><input type=textbox size="10" id="ThreadCount" value="1"></li>
          </div>
          </details>
          <hr>
          <li><button id="run_button" onclick="run()" style="width:100%">Run</button></li>
          <li><button onclick="cancel()" id="cancel_button" disabled style="width:100%; margin-top:5px;">Cancel</button></li>
          <br>
          <li><span id="server_response"></span></li>
        </ul>
			</div>
			<div id="leftdragbar" onmousedown="StartLeftDrag()"></div>
			<div id="tabs">

			</div>
			<div id="tabpages">
        <div id="show">
        </div>
			</div>

      <!-- Right Menu -->

      <div id="rightdragbar" onmousedown="StartRightDrag()"></span></div>
			<div id="rightcol">
        <details>
          <summary><span>Filter</span></summary>
            <ul>
              <li></li>
              <li><input id="SearchTextbox" style="width:95%" type=textbox></li>
              <li><input id="NegativeSearchCheckbox" type=checkbox>Negative search</li>
              <li><input id="ShowNeighborsOfMatches" type=checkbox>Show neighbors</li>
              <li><input id="RegexMode" type=checkbox>Regex Search</li>
              <li><button onclick="search()">Search</button></li>
            </ul>
        </details> 
        <br>
        <details id="Users_Details">
          <summary><span>Users</span></summary>
          <table id="user_color_table">
            <tr>
              <th>Color</th>
              <th>Name</th>
            </tr>
          </table>
        </details>
        <br>
        <details>
          <summary><span>Sites</span></summary>
          <table id="auth_table">
            <tr>
              <th>Color</th>
              <th>Domain</th>
            </tr>
            <tr>
              <td><input type=color></span></td>
              <td><span class="username">user1</span></td>
              <td><button disabled style="visibility:hidden;" class="delete_role_button" tabindex="-1">x</button></td>
            </tr>
            <tr>
              <td><input type=color></span></td>
              <td><span class="username">domain1</span></td>
              <td><button disabled style="visibility:hidden;" class="delete_role_button" tabindex="-1">x</button></td>
            </tr>
            <tr>
              <td><input type=color></span></td>
              <td><span class="username">domain1</span></td>
              <td><button disabled style="visibility:hidden;" class="delete_role_button" tabindex="-1">x</button></td>
            </tr>
          </table>
        </details>
			</div>



      <!-- Footer Menu -->

			<div id="footer">
        <div style="width:50%">

        </div>
      </div>
		</div>
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
    <script src="{{ url_for('static', filename='resize.js') }}"></script>
    <script src="{{ url_for('static', filename='api.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <script src="{{ url_for('static', filename='visualizer.js') }}"></script>
    <script>init();</script>
</body>
</html>